img{

	height: 3000px;
    width: 4000px;
}


.car{

	top: 1043px;
    left: 1981px;
    width:  150px;
    height: 100px;
    position: absolute;
    background-image: url('http://chiantidixon.github.io/Project-3/images/Car.png');
}

.car:hover {
    height: 300px;
    width: 200px;
    background-image: url('http://chiantidixon.github.io/Project-3/images/CarText.png');
}

.direction-NE{

    height: 150px;
    width: 100px;
    position: absolute;
    top: 2200px;
    left: 807px;
    -webkit-transform: rotate(-232deg);
}

.direction-NW{

    height: 150px;
    width: 100px;
    position: absolute;
    top: 80px;
    left: 765px;
    -webkit-transform: rotate(-90deg);
}




