img{

	height: 3000px;
	width: 4000px;
}

.direction-N{

    height: 150px;
    width: 100px;
    position: absolute;
    top: 916px;
    left: 87px;
    -webkit-transform: rotate(-148deg);
}

.direction-NW{

    height: 150px;
    width: 100px;
    position: absolute;
    top: 2200px;
    left: 807px;
    -webkit-transform: rotate(-232deg);
}

.direction-NE{

    height: 150px;
    width: 100px;
    position: absolute;
    top: 80px;
    left: 765px;
    -webkit-transform: rotate(-90deg);
}
.music {

	top: 2357px;
    left: 1029px;
    width:  150px;
    height: 100px;
    position: absolute;
    background-image: url('http://chiantidixon.github.io/Project-3/images/Music.png');
}

.music:hover {
    height: 300px;
    width: 200px;
    background-image: url('http://chiantidixon.github.io/Project-3/images/MusicText.png');
}

.home{

	top: 2048px;
    left: 1265px;
    width:  150px;
    height: 100px;
    position: absolute;
    background-image: url('http://chiantidixon.github.io/Project-3/images/House.png');
}

.home:hover {
    height: 300px;
    width: 200px;
    background-image: url('http://chiantidixon.github.io/Project-3/images/HomeText.png');
}

.OZ{

	top: 2009px;
    left: 1361px;
    width:  150px;
    height: 100px;
    position: absolute;
    background-image: url('http://chiantidixon.github.io/Project-3/images/40oz.png');
}

.OZ:hover {
    height: 300px;
    width: 200px;
    background-image: url('http://chiantidixon.github.io/Project-3/images/40ozText.png');
}

.Miss{

    top: 1692px;
    left: 969px;
    width:  150px;
    height: 100px;
    position: absolute;
    background-image: url('http://chiantidixon.github.io/Project-3/images/Miss.png');
}

.Miss:hover {
    height: 300px;
    width: 200px;
    background-image: url('http://chiantidixon.github.io/Project-3/images/MissText.png');
}

.coffee{

    top: 1925px;
    left: 2300px;
    width:  150px;
    height: 100px;
    position: absolute;
    background-image: url('http://chiantidixon.github.io/Project-3/images/Coffee.png');
}

.coffee:hover {
    height: 300px;
    width: 200px;
    background-image: url('http://chiantidixon.github.io/Project-3/images/CoffeeText.png');
}

.plane{

    top: 500px;
    left: 3000px;
    width:  150px;
    height: 100px;
    position: absolute;
    background-image: url('http://chiantidixon.github.io/Project-3/images/Plane.png');
}

.plane:hover {
    height: 300px;
    width: 200px;
    background-image: url('http://chiantidixon.github.io/Project-3/images/PlaneText.png');
}


.grant {

    top: 2304px;
    left: 2000px;
    width:  150px;
    height: 100px;
    position: absolute;
    background-image: url('http://chiantidixon.github.io/Project-3/images/Grant.png');
}

.grant:hover {
    height: 300px;
    width: 200px;
    background-image: url('http://chiantidixon.github.io/Project-3/images/GrantText.png');
}

.rugby {

    top: 2550px;
    left: 2400px;
    width:  150px;
    height: 100px;
    position: absolute;
    background-image: url('http://chiantidixon.github.io/Project-3/images/Rugby.png');
}

.rugby:hover {
    height: 300px;
    width: 200px;
    background-image: url('http://chiantidixon.github.io/Project-3/images/RugbyText.png');
}

.blind{

    top: 2450px
    left: 2000px;
    width:  150px;
    height: 100px;
    position: absolute;
    background-image: url('http://chiantidixon.github.io/Project-3/images/Blind.png');
}

.blind:hover {
    height: 300px;
    width: 200px;
    background-image: url('http://chiantidixon.github.io/Project-3/images/BlindText.png');
}










