img{

	height: 3000px;
	width: 4000px;
}

.direction-N{

    height: 150px;
    width: 100px;
    position: absolute;
    top: 1671px;
    left: 3408px;
    -webkit-transform: rotate(-51deg);
}

.direction-SW{

    height: 150px;
    width: 100px;
    position: absolute;
    top: 2783px;
    left: 3289px
    -webkit-transform: rotate(55deg);
}