img{

	height: 3000px;
    width: 4000px;
}


div a {

	top: 1043px;
    left: 1981px;
    width:  150px;
    height: 100px;
    position: absolute;
    background-image: url('http://chiantidixon.github.io/Project-3/images/Car.png');
}

div a:hover {
    height: 300px;
    width: 200px;
    background-image: url('http://chiantidixon.github.io/Project-3/images/CarText.png');
}

.direction-NW{

    height: 150px;
    width: 200px;
    position: absolute;
    top: 916px;
    left: 87px;
    -webkit-transform: rotate(-148deg);
}
