img{

	height: 3000px;
	width: 4000px;
}

.music {

	top: 2357px;
    left: 1029px;
    width:  150px;
    height: 100px;
    position: absolute;
    background-image: url('http://chiantidixon.github.io/Project-3/images/Music.png');
}

.music:hover {
    height: 300px;
    width: 200px;
    background-image: url('http://chiantidixon.github.io/Project-3/images/MusicText.png');
}

.home{

	top: 2048px;
    left: 1265px;
    width:  150px;
    height: 100px;
    position: absolute;
    background-image: url('http://chiantidixon.github.io/Project-3/images/House.png');
}

.home:hover {
    height: 300px;
    width: 200px;
    background-image: url('http://chiantidixon.github.io/Project-3/images/HomeText.png');
}

div a {

	top: 1043px;
    left: 1981px;
    width:  150px;
    height: 100px;
    position: absolute;
    background-image: url('');
}

div a:hover {
    height: 300px;
    width: 200px;
    background-image: url('');
}