img{

	height: 3000px;
	width: 4000px;
}

.oaks{

	top: 2059px;
    left: 760px;
    width: 150px;
    height: 100px;
    position: absolute;
    background-image: url('http://chiantidixon.github.io/Project-3/images/Oaks.png');
}

.oaks:hover {
    height: 300px;
    width: 200px;
    background-image: url('http://chiantidixon.github.io/Project-3/images/OaksText.png');
}

.rugby{

	top: 1600px;
    left: 2501px;
    width: 150px;
    height: 100px;
    position: absolute;
    background-image: url('http://chiantidixon.github.io/Project-3/images/Rugby.png');
}

.rugby:hover {
    height: 300px;
    width: 200px;
    background-image: url('http://chiantidixon.github.io/Project-3/SERugbyText.png');
}

.Ehouse{

	top: 1200px;
    left: 3000px;
    width: 150px;
    height: 100px;
    position: absolute;
    background-image: url('http://chiantidixon.github.io/Project-3/images/House.png');
}

.Ehouse:hover {
    height: 300px;
    width: 200px;
    background-image: url('http://chiantidixon.github.io/Project-3/EHouseText.png');
}

.robo{

	top: 600px;
    left: 850px;
    width: 150px;
    height: 100px;
    position: absolute;
    background-image: url('http://chiantidixon.github.io/Project-3/images/Robo.png');
}

.robo:hover {
    height: 300px;
    width: 200px;
    background-image: url('http://chiantidixon.github.io/Project-3/images/RoboText.png');
}

.direction-NE{

    height: 150px;
    width: 100px;
    position: absolute;
    top: 916px;
    left: 87px;
    -webkit-transform: rotate(-148deg);
}

.direction-NW{

    height: 150px;
    width: 100px;
    position: absolute;
    top: 2200px;
    left: 807px;
    -webkit-transform: rotate(-232deg);
}







