img{

	height: 3000px;
	width: 4000px;
}

.oaks{

	top: 2059px;
    left: 760px;
    width: 150px;
    height: 100px;
    position: absolute;
    background-image: url('http://chiantidixon.github.io/Project-3/images/Oaks.png');
}

.oaks:hover {
    height: 300px;
    width: 200px;
    background-image: url('http://chiantidixon.github.io/Project-3/images/OaksText.png');
}

.rugby{

	top: 1600px;
    left: 2501px;
    width: 150px;
    height: 100px;
    position: absolute;
    background-image: url('http://chiantidixon.github.io/Project-3/images/Rugby.png');
}

.rugby:hover {
    height: 300px;
    width: 200px;
    background-image: url('http://chiantidixon.github.io/Project-3/SERugbyText.png');
}