img{

	height: 3000px;
	width: 4000px;
}

.timbers{

	top: 58px;
    left: 3000px;
    width: 150px;
    height: 100px;
    position: absolute;
    background-image: url('http://chiantidixon.github.io/Project-3/images/Timbers.png');
}

.timbers:hover {
    
    height: 300px;
    width: 200px;
    background-image: url('http://chiantidixon.github.io/Project-3/images/TimbersText.png');
}

.direction-SE{

    height: 150px;
    width: 100px;
    position: absolute;
    top: 510px;
    left: 3750px;
    -webkit-transform: rotate(-44deg);
}